.footer {
    /* position: fixed; */
    margin-top: 50%;
    bottom: 0;
    clear: both;
    left: 0;
    width: 100%;
    background-color: gray; /* Adjust the background color as needed */
    padding: 20px; /* Adjust the padding as needed */
    text-align: center;
    border-top: 1px solid #dee2e6; /* Add a border if desired */
    height: min-content;

  }
  